.ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 95px ;
  margin-bottom: 0px;
}

.ellipsis1 {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 50px;
}